{% extends 'main.html' %}

{% block content %}
<style>
    .home-container{
        display:grid;
        grid-template-columns:1fr 3fr;
    }
</style>
<h1>Home</h1>
<div class="home-container">
    <div class="">
        <h3>Browse Topics</h3>
        <hr />

         <ul>
            <li><a  href="{% url 'home' %}" >Todos</a></li>

            {% for topic in topics %}
                <li><a  href="{% url 'home' %}?q={{topic.name}}" >{{topic.name}} <span>1</span></a></li>
            {% endfor %}
         </ul>
    </div>

    <div>
        <h5>{{room_count}} disponiveis</h5>
        <a  href="{%  url 'create-room' %}">Create Room</a><br/>        
        {% for room in rooms %}
        <div>
            <a  href="{%  url 'update-room' room.id %}">Update Room</a>
            <a  href="{%  url 'delete-room' room.id %}">Delete Room</a> <br />
            <span>@{{room.host.username}}</span>
            <h5>{{room.id}} -- <a href="{%  url 'room' room.id %}">{{topic.name}}</a></h5>
            <small>{{room.topic}}</small>
            <hr />
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

